<div class="bg-main-white relative pt-40 pb-20 lg:pt-44 dark:bg-gray-900">
    <div class="relative xl:container m-auto px-6 md:px-12 lg:px-6">
        <h1 class="sm:mx-auto sm:w-10/12 md:w-2/3 font-black text-blue-900 text-4xl text-center sm:text-5xl md:text-6xl lg:w-auto lg:text-left xl:text-7xl dark:text-white">Crées ton blog et rédiges ton premier article sur<br class="lg:block hidden"> <span class="relative top-4 text-transparent bg-clip-text bg-gradient-to-r from-blue-600 to-cyan-500 dark:from-blue-400 dark:to-cyan-300">TailBlog</span></h1>
        <div class="lg:flex">
            <div class="relative mt-8 md:mt-16 space-y-8 sm:w-10/12 md:w-2/3 lg:ml-0 sm:mx-auto text-center lg:text-left lg:mr-auto lg:w-7/12">
                <p class="sm:text-lg text-gray-700 dark:text-gray-300 lg:w-11/12">
                    TailBlog est la plateforme de création de blog la plus simple et rapide, publiez votre blog en quelques clics
                </p>
                <span class="block font-semibold text-gray-500 dark:text-gray-400">L'outil universel d'administration de blog</span>
            </div>
            <div class="mt-20 md:mt-12 md:mt-0 mx-auto lg:absolute right-28 md:w-1/2 lg:w-1/6">
                <div class="relative w-full">
                    <div aria-hidden="true" class="absolute scale-100 md:scale-110 inset-0 m-auto w-56 h-56 md:w-48 md:h-48 rounded-full rotate-45 bg-gradient-to-r from-sky-500 to-cyan-300 blur-3xl"></div>
                    <img src="{{ asset('/assets/media/banner.svg') }}" class="relative w-1/2 md:w-3/4 mx-auto lg:w-full" alt="blogger illustration" loading="lazy" width="320" height="280">
                </div>
            </div>
        </div>
    </div>
</div>